{% extends 'core/base.html' %}

{% load static %}

{% block title %}Datuak{% endblock %}

{% block content %}
<br></br>

<div class="jumbotron vertical-center">
    <div class="container">
      <div class="row">

        <div class="col" align="center">
            <a href="https://www.opendata.euskadi.eus/">
                <img src="https://www.opendata.euskadi.eus/images/webopd00-logo_opendata.gif">
            </a>
        </div>
        <div class="col" align="center">
            <a href="https://www.opendata.euskadi.eus/api-euskalmet/-/api-de-euskalmet/">
                <img src="https://www.euskalmet.euskadi.eus/meteoassets/imgs/euskalmet-logo-mobile.svg" width="150" height="200">
            </a>
        </div>
        <div class="col" align="center">
            <a href="https://www.opendata.euskadi.eus/api-euskalmet/-/api-de-euskalmet/">
                <img src="https://www.aralarkoadiskideak.org/images/logoak/GMF.png" width="120" height="150">
            </a>
        </div>
        <div class="col" align="center">
            <a href="https://www.opendata.euskadi.eus/api-euskalmet/-/api-de-euskalmet/">
                <img src="https://openweathermap.org/themes/openweathermap/assets/img/logo_white_cropped.png" width="300" height="120">
            </a>
        </div>
        <div class="col" align="center">
            <a href="https://www.youtube.com/c/HardIsEasy">
                <img src="https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg" width="300" height="120">
            </a>
        </div>
      </div>
    </div>
</div>

<br></br>

{% endblock %}
