{% extends 'core/base.html' %}

{% load static %}

{% block title %}Lista{% endblock %}

{% block content %}

<div class="jumbotron vertical-center">
<div class="container" style="width:800px; margin:0 auto; text-align: center;">
<div class="table-responsive-md">
  <table class="table table-white table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Puntuazioa</th>
          <th scope="col">Probintzia</th>
          <th scope="col">Herria</th>
          <th scope="col">Sektorea</th>
          <th scope="col">Arkaitza</th>
          <th scope="col">Zailtasuna</th>
        </tr>
      </thead>
      <tbody>
      {% for spot in climbingspot %}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
            <td>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="1star"></span>
                <span class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="2star"></span>
                <span class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="3star"></span>
                <span class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="4star"></span>
                <span class="fa fa-star" onclick="calificar(this)" style="cursor: pointer;" id="5star"></span>
            </td>
          <td>{{spot.province}}</td>
          <td>{{spot.town}}</td>
          <td><a href="{{ spot.province }}/{{ spot.title }}">{{spot.title}}</a></td>
          <td>{{spot.stone}}</td>
          <td>{{spot.difficulty}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
</div>
</div>
<script type="text/javascript">
var contador;
let start = []
function calificar(item){
    contador = item.id[0];
    console.log(item);
    let nombre = item.id.substring(1);
    for (let i=0;i<5;i++){
        if (i<contador){
            document.getElementById((i+1)+nombre).style.color="orange";
        }else{
            document.getElementById((i+1)+nombre).style.color="black";
        }
    }
}
</script>
{% endblock %}
