{% extends 'core/base.html' %}

{% load static %}

{% block title %}Video{% endblock %}

{% block content %}
<br></br>
<div class="container">
  <div class="row">
      {% for video in videos %}
      {% if forloop.counter <= 10 %}
    <div class="col" align="center">
        <h8>{{ video.title }}</h8>
        <br></br>

        {% if 1 == forloop.counter %}
            <iframe width="320" height="220"
                src="https://www.youtube.com/embed/{{ video.link }}?autoplay=1&mute=1">
            </iframe>
        {% else %}
            <iframe width="320" height="220"
                src="https://www.youtube.com/embed/{{ video.link }}">
            </iframe>
        {% endif %}
    </div>
      {% endif %}
      {% endfor %}
  </div>
</div>


{% endblock %}
