{% extends 'core/base.html' %}

{% load static %}

{% block title %}Euskalmet{% endblock %}

{% block content %}
<br>
<div class="jumbotron vertical-center">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h3>Euskalmet</h3>
                  <div id="root"></div>
              </div>
          </div>
        <div class="row">
            <div class="col">
                <img style="width:100%" src="https://www.euskalmet.euskadi.eus/vamet/temps_precipitations_map/today/airTemperature/current/last.jpeg"></img>
            </div>
            <div class="col">
                <img style="width:100%" src="https://www.euskalmet.euskadi.eus/vamet/temps_precipitations_map/today/precipitation/current/last.jpeg" alt="Último valor">
            </div>
        </div>
      </div>
    <div class="container">
    <table class="table table-white table-striped" id="myTable">
        <thead>
          <tr>
            <th scope="col">City</th>
            <th scope="col">Temp max</th>
            <th scope="col">Temp max</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>
<script>

function Euskalmet(city, tempmax, tempmin) {
  this.city = city;
  this.tempmax = tempmax;
  this.tempmin = tempmin;
}




//  regionId: basque_country
//  regionZoneId:
//      cantabrian_mountains
//      cantabrian_valleys
//      coast_zone
//      donostialdea
//      ebro_valley
//      great_bilbao
//      interior_basins
//      pyrenees
//      southern_mountain
//      vitoria_gasteiz

window.addEventListener("load", function meteoStationReadings() {
  var headers =
  {
    'accept':'application/json',
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJtZXQwMS5hcGlrZXkiLCJpc3MiOiJUZWNuYWxpYSIsImV4cCI6MTY3NjIwNDc1OCwidmVyc2lvbiI6IjEuMC4wIiwiaWF0IjoxNjM4NDQ3OTU4LCJlbWFpbCI6ImFwcHMuaW5mcmEudGVjbmFsaWFAZ21haWwuY29tIn0.eVQczqFuUDXqSqE4bbc8XYxTxBuNnlJWnpf2dKd2cj9CNFJ6U6N3svz5rFrgpGqskwhkqEo4Bi7w-zgxFu4x_tYzeMX351guT0AFBjVWikCHXXRrPDf1rMJkTD_rNScIFyHHqhXdZ31vE8iJ9Z8zQiAFBUa8bkyehqX-C_96-CQmBBEh4bWW_P6-5nSMrrHH19-8dhT9bGeInXxPnGKBFqiwjJfsrqhpi4Ee6lvCyyeQD0ZJmnRozzqlr80r9N61WwHdWXpez3pdxElFsZ-zOkixkztqo157eTvRyPA1GchX1K3eTkQsLWPExtIZwcydXIYnxH1glWPIKLycLAfiOQ"

  };
  var options = {
    'method' : 'get',
    'contentType': 'application/json',
    'headers': headers,
    'muteHttpExceptions': true
  };

  var urls = "https://api.euskadi.eus/euskalmet/readings/forStation/B090/HA05/measures/measuresForAir/humidity/at/2022/05/26"
  const response = fetch(urls, options);

  fetch(urls, options)
  .then(response => response.json())
  .then(data => {console.log(data)});

}, false);

window.addEventListener("load", function meteoForecast() {
  var headers =
  {
    'accept':'application/json',
    'Authorization': "Bearer eyJhbGciOiJSUzI1NiJ9.eyJhdWQiOiJtZXQwMS5hcGlrZXkiLCJpc3MiOiJUZWNuYWxpYSIsImV4cCI6MTY3NjIwNDc1OCwidmVyc2lvbiI6IjEuMC4wIiwiaWF0IjoxNjM4NDQ3OTU4LCJlbWFpbCI6ImFwcHMuaW5mcmEudGVjbmFsaWFAZ21haWwuY29tIn0.eVQczqFuUDXqSqE4bbc8XYxTxBuNnlJWnpf2dKd2cj9CNFJ6U6N3svz5rFrgpGqskwhkqEo4Bi7w-zgxFu4x_tYzeMX351guT0AFBjVWikCHXXRrPDf1rMJkTD_rNScIFyHHqhXdZ31vE8iJ9Z8zQiAFBUa8bkyehqX-C_96-CQmBBEh4bWW_P6-5nSMrrHH19-8dhT9bGeInXxPnGKBFqiwjJfsrqhpi4Ee6lvCyyeQD0ZJmnRozzqlr80r9N61WwHdWXpez3pdxElFsZ-zOkixkztqo157eTvRyPA1GchX1K3eTkQsLWPExtIZwcydXIYnxH1glWPIKLycLAfiOQ"
  };
  var options = {
    'method' : 'get',
    'contentType': 'application/json',
    'headers': headers,
    'muteHttpExceptions': true
  };
  const options_ = { year: 'numeric', month: 'numeric', day: 'numeric' };

  var today = new Date();
  console.log(today.toLocaleString(undefined, options_));
  console.log(today);
  var month = today.getMonth() + 1;
  if (month < 10)
  {month = "0" + month};

  var date = today.getFullYear() + "/" + month + "/" + today.getDate();
  var date2 = today.getFullYear() + month + today.getDate();
  console.log(date);
  var urls = "https://api.euskadi.eus/euskalmet/weather/regions/basque_country/forecast/at/" + date + "/for/" + date2;
  console.log(urls);

  let myArr = []

  const response = fetch(urls, options);

  fetch(urls, options)
  .then(response => response.json())
  .then(data => {
        const root = document.getElementById('root');
        const tempTabla = document.getElementById('tempTabla');

        console.log(data);
        console.log(data['forecastTextByLang']['BASQUE']);
        console.log(data['citiesTemperatureRange'].length);
        var htmlTabla= "";
        for (var i=0; i < data['citiesTemperatureRange'].length; i++){
            var city = data['citiesTemperatureRange'][i]['locationId'];
            var tempmin = data['citiesTemperatureRange'][i]['temperature']['min'];
            var tempmax = data['citiesTemperatureRange'][i]['temperature']['max'];

            myArr.push(new Euskalmet(city, tempmax, tempmin));
        }

        document.querySelector("#myTable tbody").innerHTML = myArr.map(Euskalmet =>
        `<tr><td>${Euskalmet.city}</td>
             <td>${Euskalmet.tempmax}</td
             ><td>${Euskalmet.tempmin}</td>
        </tr>`).join('')
        console.log(htmlTabla);
        var forecastTextBasque = data['forecastTextByLang']['BASQUE'];
        var html = "<p>" + forecastTextBasque + "</p>";
        root.innerHTML = html;
        });

}, false);
</script>
{% endblock %}
